.btn {
  padding: 10px 22px;
  font-size: 16px;
  background-color: #1e1e1e;
  cursor: pointer;
  color: #646464;
  border-radius: 6px;
  border: 0;
}

.btn-sm {
  display: inline-block;
      padding: 6px 16px;
      margin: 5px 2px;
      font-size: 12px;
      line-height: 1.4;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-image: none;
      cursor: pointer;
      border: 0px solid #000;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(30, 30, 30, 0.65);
      -webkit-app-region: no-drag;
      background-color: #1e1e1e;
}

.btn-bg {
  padding: 9px 8px;
  background: black;
  border-radius: 9px;
  font-size: 16px;
  text-align: center;
  border: 3px solid black;
  cursor: pointer;
}

.btn-send {
  padding: 7px 22px;
      height: 40px;
      font-size: 18px;
      border: thin solid #7ed321;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      color: #000;
      margin: 0;
      opacity: 0.8;
      background: rgb(143, 196, 0);
      background: linear-gradient( to bottom, rgba(143, 196, 0, 1) 0%, rgb(64, 134, 0) 100% );
}

.btn-send-gas {
  padding: 7px 22px;
      height: 40px;
      font-size: 18px;
      border: thin solid #52397b;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      color: #000;
      margin: 0;
      opacity: 0.8;
      background: linear-gradient( to bottom, rgba(203, 96, 179, 1) 0%, rgba(104, 34, 165, 1) 0%, rgba(104, 3, 120, 1) 99% );
}

.btn-export {
  padding: 10px 22px;
      height: 46px;
      font-size: 18px;
      border: 0;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      color: #000;
      margin: 0;
      opacity: 0.8;
  background: rgb(250, 217, 97);
  background: linear-gradient(
    to bottom,
    rgba(250, 217, 97, 1) 0%,
    rgba(247, 107, 28, 1) 92%
  );
}

.btn-receive {
  padding: 10px 22px;
      height: 46px;
      font-size: 18px;
      border: 0;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      color: #000;
      margin: 0;
      opacity: 0.8;
  background: rgb(64, 150, 238);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(64, 150, 238, 1) 0%,
    rgba(0, 118, 237, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(64, 150, 238, 1) 0%,
    rgba(0, 118, 237, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(64, 150, 238, 1) 0%,
    rgba(0, 118, 237, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-blue {
  padding: 10px 22px;
      height: 46px;
      font-size: 18px;
      border: 0;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      color: #000;
      margin: 0;
      opacity: 0.8;
  background: rgb(36, 180, 245);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
}

.btn-red {
  padding: 10px 22px;
      height: 46px;
      font-size: 18px;
      border: 0;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      color: #000;
      margin: 0;
      opacity: 0.8;
  background: rgb(169, 3, 41);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(94, 0, 14, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(94, 0, 14, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(94, 0, 14, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-send:hover,
.btn-send-gas:hover,
.btn-receive:hover,
.btn-export:hover,
.btn-blue:hover {
  color: #fff;
  opacity: 1;
  box-shadow: 0px;
}

.btn:hover {
  color: #ececec;
  background: rgb(64, 150, 238);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(64, 150, 238, 1) 0%,
    rgba(0, 118, 237, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(64, 150, 238, 1) 0%,
    rgba(0, 118, 237, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(64, 150, 238, 1) 0%,
    rgba(0, 118, 237, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.go-icon {
  width: 38px;
  height: 38px;
  position: fixed;
  top: 47%;
  right: 23%;
  background-color: transparent;
  background-image: url("../img/right-arrow@3x.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.6;
}

.go-icon:hover {
  cursor: pointer;
  opacity: 1;
}

.neo-icon {
  width: 24px;
  height: 28px;
  background-image: url("../img/neo-icon.png");
  margin: 0px auto;
  cursor: pointer;
  margin-top: 3px;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }

.delete:hover {
    color: #fff;
    background: rgb(169, 3, 41);
    /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(169, 3, 41, 1) 0%,
      rgba(143, 2, 34, 1) 44%,
      rgba(94, 0, 14, 1) 100%
    );
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(169, 3, 41, 1) 0%,
      rgba(143, 2, 34, 1) 44%,
      rgba(94, 0, 14, 1) 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(169, 3, 41, 1) 0%,
      rgba(143, 2, 34, 1) 44%,
      rgba(94, 0, 14, 1) 100%
    );
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blue:hover, .blue:active, .blue:checked {
  background: rgb(36, 180, 245);
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(36, 180, 245, 1) 0%,
    rgba(0, 32, 228, 1) 92%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.grey-button {
  padding: 6px 16px;
  height: 42px;
  font-size: 18px;
  border: thin solid #616161;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: #ddd;
  margin: 2px 0px;
  background: #464646;
  text-shadow: none;
  font-weight: 200;
  width: 100%;
}

.grey-button:hover {
    border: 0px solid #616161;
    color: #333;
    background: #61b900;
}
