.sk-morpheus-bar {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 399px;
  height: 100px;
  width: 720px;
  margin: 0px auto 60px;
  -webkit-box-shadow: inset 2px 17px 41px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: inset 2px 17px 41px 0px rgba(0, 0, 0, 0.47);
  box-shadow: inset 2px 17px 41px 0px rgba(0, 0, 0, 0.47);
  border: thin solid rgba(74, 74, 74, 0.3);
}

#gas-gauge {
  background: url("../img/gas-bar.png") no-repeat center;
  width: 200px;
  height: 100px;
  top: -30px;
  left: 3%;
  position: relative;
}
.neo-balance {
  float: left;
  width: 220px;
  padding: 0 30px 0 30px;
}
.gas-balance {
  float: right;
  width: 240px;
  padding: 0 30px 0 30px;
}

.sk-asset.sk-availableBalance {
  width: 190px;
  height: 60px;
  left: 0px;
  top: 165px;
  text-align: center;
  background: rgba(0, 0, 0, 0.37);
  border-top: thin solid rgba(100, 100, 100, 0.4);
  border-bottom: thin solid rgba(100, 100, 100, 0.3);
  padding-top: 20px;
}

.sk-balance {
  color: #646464;
  font-size: 0.7em;
  line-height: 1em;
}

.sk-value {
  font-size: 1.3em;
  line-height: 1.4em;
}
.sk-asset.sk-Navigation_left {
  width: 190px;
  height: 700px;
  left: 10px;
  top: 10px;
  position: fixed;
}

.sk-morpheus-bar {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 399px;
  height: 100px;
  width: 720px;
  margin: 0px auto 60px;
  -webkit-box-shadow: inset 2px 17px 41px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: inset 2px 17px 41px 0px rgba(0, 0, 0, 0.47);
  box-shadow: inset 2px 17px 41px 0px rgba(0, 0, 0, 0.47);
  border: thin solid rgba(74, 74, 74, 0.3);
}

.gas-claim {
font-size: 14px;
top: 25%;
position: absolute;
left: 20%;
}

#gas-button,
#gas-button:focus {
background: url("../img/gas-button@2x.png") no-repeat center;
width: 120px;
height: 130px;
position: fixed;
top: 28px;
padding: 28px 0px 0px 0px;
left: 53.5%;
text-align: center;
}

#gas-button:hover {
  background: url("../img/gas-button-hover@2x.png") no-repeat center;
  cursor: pointer;
}


#logout {
  position: absolute;
  bottom: 32px;
  left: 55px;
}

#gas-button.disabled {
  background: url("../img/gas-button-dis@2x.png") no-repeat center;
}


.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
