#displayWalletKeys {
  h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
  p.welcome {
    text-align: center;
    font-weight: lighter;
    color: white;
    font-size: 20px;
  }

  .neoLogo {
    margin: -110px 0px 15px;
    padding-top: 30px;
  }

  .clearboth {clear:both;}

  .btn-blue {
    // padding: 10px 8px;
  }

  .btn-export {
    // padding: 10px 8px;
  }

  #buttons {
    .col-xs-3 {
      width: auto;
    }
  }

  input {
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
  }
  input.pubicAddress {
    color: #7ed321 !important;
  }

  input::-webkit-input-placeholder {
    font-size: 18px;
    text-align: left;
    padding: 0;
  }

  .disclaimer {
    font-size: 14px;
    color: #4a4a4a;
    text-align: center;
  }

  .addressBox {
    border: 8px solid #d3d3d3;
        background-color: white;
        border-radius: 20px;
        padding: 14px 10px 7px;
        text-align: center;
        margin-top: 15px;
  }

  .receive-qr-bk {
    background: url("../img/qr-bk@3x.png") no-repeat center;
    width: 200px;
    height: 200px;
    /* margin: 30px auto 0; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 10px;
  }
}

#privateKeys {
  .pull-left {
    margin-bottom: 30px;
  }
  input::-webkit-input-placeholder {
    font-size: 18px;
    text-align: left;
    padding: 0;
  }
  .btn-red {
    width: 100%;
  }
  input {
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
  }

  .key-label {
    font-weight: lighter;
    font-size: 14px;
    color: #646464;
  }

  .keyList {
    margin-bottom: 15px;
  }
}

input.pubicAddress {
  color: #7ed321 !important;
}

.saveKey {
  border-color: #6972d5;
  border-radius: 6px;
}

.icon-border {
  height: 48px;
  width: 48px;
  border-radius: 99px;
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.dash-bar {
  width: 360px;
  margin: 0px auto;
  display: block;
}

.dash-bar-rec {
  width: 360px;
  margin: 0px auto;
  display: block;
}

.dash-bar-settings {
  width: 400px;
  margin: 3% 0% 0% 18%;;
  display: block;
}

.dash-icon-bar {
  width: 100px;
      float: left;
      text-align: center;
      font-size: 14px;
      font-weight: 200;
      margin: 0 10px 2px;
      opacity: 0.3;
      cursor: pointer;
      color: #fff;
      animation-duration: 1s;
      animation-fill-mode: both;
}

.dash-icon-bar:hover {
  opacity: 0.6;
  margin: -2px 10px 4px;
}

.new-address-bk {
  margin: 75px auto 20px;
  width: 720px;
  padding: 30px 30px 30px 30px;
  border: thick solid #222;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
}

.glyphicon {cursor: pointer;}

.up-20 {
  margin-top: -55px;
}

@media print {

@page {size: A4 landscape;max-height:100%; max-width:100%}
body{width:100%;
    height:100%;
    margin-left: -120px;
    margin-top: -100px;
    -webkit-transform: scale(.70,.70);
    -moz-transform: scale(.70,.70) }

    .dash-bar {
    display: none;
    }
}
