.trans-form,
.trans-form:active,
.trans-form:focus {
  background-color: rgb(26, 25, 26);
      border: 1px solid #673AB7;
      border-radius: 9px;
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow: inset 1px 6px 7px rgba(0, 0, 0, 0.3);
      display: inline-block;
      width: 100%;
      height: 52px;
      padding: 10px 8px;
      font-size: 22px;
      outline: none;
      text-align: center;
      color: white;
      font-family: Arial;
      font-weight: 200;
  :-ms-input-placeholder {
    text-align: center;
    color: white;
  }
  .sett-form {
    border: 2px solid #292929;
    background-color: #000;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    text-align: center;
    font-size: 24px;
  }
}

.form-control-neo {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 19px;
  // line-height: 2.6;
  background-color: #000;
  border: 4px solid #7ed321;
  border-radius: 9px;
  outline: none;
  height: 58px;
  margin-bottom: 10px;
  &.placeholder {
    text-align: center;
    color: white;
  }

  :-ms-input-placeholder {
    text-align: center;
    color: white;
  }

  &hover {
    color: blue;
  }
}

.form-control-exchange {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 19px;
  background-color: #000;
  border: 3px solid #222;
  border-radius: 9px;
  outline: none;
  height: 48px;
  margin-bottom: 10px;
}

.form-control-gas {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 19px;
  border-radius: 9px;
  outline: none;
  height: 58px;
  margin-bottom: 10px;
  background-color: #000;
  border: 4px solid #bd10e0;
  border-radius: 9px;
  outline: none;
  margin-bottom: 10px;
}

.form-control:focus,
.form-control-neo:focus,
.form-control-gas:focus {
  border-color: #6db3fd;
  box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd,
    3px -3px 0 #6db3fd;
}

hr.purple {
  border: 1px solid #9013fe;
  margin: 0px auto 0px;
}

.grey.bk {background-color: #222;}

#select-profession {
  width: 100%;
    background: #333;
    height: 46px;
    font-size: 19px;
    border: 0px solid #222;
}

option {
    font-weight: thin;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 8px 1px;
}

.login-button {
  padding: 8px 22px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin: 3px 0px;
    text-shadow: none;
    font-weight: 200;
    border: 1px solid #673ab7;
    color: #f5f5f5;
    background: #5b30a9;
}

.login-button:hover {
  border: 1px solid #673ab7;
color: #f5f5f5;
background: #351967;
}

textarea, input, button, select { outline: none; }
