.sk-asset.sk-portIcon {
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  background-image: url("../img/portIcon.png");
}

.sk-asset.sk-postfolioButton {
  width: 124px;
  height: 20px;
  left: 19px;
  top: 307px;
}

.sk-asset.sk-dashboard {
  width: 79px;
  height: 18px;
  left: 47px;
  top: 0px;
}

.sk-asset.sk-dashIcon {
  width: 23px;
  height: 16px;
  left: 0px;
  top: 3px;
  background-image: url("../img/dashIcon.png");
}

.sk-asset.sk-dashButton {
  width: 126px;
  height: 19px;
  left: 17px;
  top: 270px;
}

.sk-asset.sk-postfolioButton {
  width: 124px;
  height: 20px;
  left: 19px;
  top: 307px;
}

.sk-asset.sk-dashboard {
  width: 79px;
  height: 18px;
  left: 47px;
  top: 0px;
}

.sk-asset.sk-dashButton {
  width: 126px;
  height: 19px;
  left: 17px;
  top: 270px;
}

.sk-asset.sk-Navigation_left {
  width: 190px;
  height: 700px;
  left: 10px;
  top: 10px;
  position: fixed;
}

.logoContainer {
  padding-left: 30px;
  margin-top: 20px;
}

#mainNav {
  .glyphicon {
    padding-right: 10px;
    padding-left: 20px;
  }

  .sk-dashIcon {
    width: 23px;
    height: 16px;
    display: inline;
    background-size: cover;
    background-image: url("../img/dashIcon@3x.png");
  }
}
