#receive {
  width: 749px;
  position: absolute;
  h1 {
    font-size: 30px;
    text-align: center;
    margin-left: -100px;
  }
  .container {
  }

  .addressBox-send {
    margin-left: 18px;
  }

  .header {
    background-color: rgba(15, 15, 18, 0.9);
    border-radius: 100px;
    height: 100px;
    margin-top: 1%;
    padding: 10px;
    width: 720px;
    margin-left: 3%;
  }
  .neo-text {
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    line-height: 1.2em;
    span {
      color: #7ed321;
    }
  }
  .neo-balance {
    color: #9b9b9b;
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    text-align: center;
    margin-top: 4%;
  }
  .price-header {
    color: #9b9b9b;
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    text-align: center;
    margin-top: 4%;
  }
  .price {
    font-size: 36px;
    font-weight: 200;
    text-align: center;
  }
  .neo-logo {
    margin-top: -15px;
  }

  .address {
    color: #7ed321;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    margin-left: -85px;
  }
  .info {
    text-align: center;
    color: #9b9b9b;
    font-size: 14px;
    margin-left: -80px;
  }
}
