#send {
  width: 720px;
}

.right {
  float: right;
}
.center,
#center {
  text-align: center;
}

.form-send-neo.center {
  padding: 0px 40px;
}

.header {
  background-color: rgba(12, 12, 14, 0.85);
  border: 1px solid #272727;
  border-radius: 13px;
  height: 105px;
  margin-top: 2%;
  padding: 10px;
  width: 720px;
  margin-left: 2%;
  -moz-box-shadow:    inset 0 0 12px #000000;
   -webkit-box-shadow: inset 0 0 12px #000000;
   box-shadow:         inset 0 0 12px #000000;
}
.neo-text {
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  line-height: 1.2em;
  span {
    color: #7ed321;
  }
}
.gas-text {
  font-size: 26px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  span {
    color: #9013fe;
  }
}
.neo-balance {
  color: #9b9b9b;
  font-size: 13px;
  padding: 0;
  margin: 0;
  margin-left: 0;
  text-align: center;
  max-width: 200px;
}

.neo-logo {
  float: left;
  margin: 0 10px 0 0;
}

.send-neo {
  margin: 50px auto 0;
  width: 720px;
  padding: 30px 30px 30px 30px;
  border: thick solid #222;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
}

.settings-panel {
  margin: 50px 0 0 0;
  width: 720px;
  padding: 30px 30px 30px 30px;
  border: thick solid #222;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
}

.send-neo-wide {
  margin: 30px auto 10px;
  width: 900px;
  padding: 0px 30px 30px 30px;
  border: thick solid #222;
  background: rgba(12, 12, 14, 0.85);
  border-radius: 20px;
  box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.45);
}

.form-send-neo {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 3px solid #252525;
  border-radius: 9px;
  outline: none;
}

.form-send-gas {
  display: inline-block;
  width: 100%;
  text-align: left;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.62);
  border: 3px solid #9013fe;
  border-radius: 9px;
  outline: none;
}

h1,
h2 {
  font-weight: 200;
  margin: 8px 0 20px 0px;
}

#sendAddress {
  margin-top: 5px;
}
#sendAmount {
  margin-top: 5px;
}

.clearboth {
  clear: both;
}

.send-notice {
  margin-top: 30px;
  color: #3c3c3c;
  text-align: center;
}

.amount-dollar {
  position: absolute;
  left: 28px;
  top: 16px;
  font-size: 18px;
  z-index: 99;
}

.send-price {
  width: auto;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.send-price-sm {
  font-size: 10px;
  color: #646464;
}

.scanqr-cam {
  position: fixed;
  top: 43%;
  left: 30%;
  font-size: 28px;
  z-index: 99;
  color: #2f2f2f;
  cursor: pointer;
}
.scanqr-cam:hover {
  color: #646464;
}

#transactionList {
  list-style-type: none;
  height: 300px;
  width: 100%;
  overflow: scroll;
  -webkit-padding-start: 0px;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

#transactionList li {
  padding: 10px 0px;
  border-bottom: thin solid #222;
  height: 40px;
}

#transactionList li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.copyright {
  position: fixed;
  color: #353535;
  bottom: 9px;
  left: 2%;
  font-size: 10px;
}

webview {
  display: inline-flex;
  width: 100%;
  height: 640px;
}

#foo {
  width: 100%;
  height: 700px;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 0.8em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: black;
}

.loading-exchange {
  position: fixed;
  top: 35%;
  left: 50%;
  font-size: 120px;
  text-align: center;
  width: 120px;
  height: 142px;
  z-index: -1;
  color: rgba(85, 85, 85, 0.37);
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

#neo-price {
  -webkit-padding-start: 0px;
      font-size: 13px;
      margin: 10px 0px 0px 0px;
      display: block;
      text-align: center;
}

#neo-price li {
  width: 32%;
  float: left;
  padding: 4px;
  background: #212121;
  margin-right: 1%;
  border-radius: 4px;
  margin-top: -7px;
}

#gas-price li {
  width: 33%;
  float: left;
  padding: 0px;
}

#exchange-info {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 840px;
  height: 758px;
  margin: 0px;
  padding: 0px;
}

#chart-container {
  min-width: 310px;
  max-width: 800px;
}

.com-soon,
.com-soon:hover {
  opacity: 0.1;
  cursor: default;
}

.exchange-glyph {
margin-top: 0px;
font-size: 36px;
text-align: center;
color: #333;
}

.glyphicon-trash {
  margin-left: -2px;
}

.up-65 {
  margin-top: -65px;
}

.sm-text {
  font-size: 11px;
  font-weight: 200;
  color: #555;
}

.changelly-logo {
  background: url("../img/changelly.png") no-repeat center;
  width: 100px;
  height: 28px;
  opacity: 0.6;
  margin-top: -8px;
}

.progress-bar {
background: url("../img/progress-bar1.png") no-repeat center;
width: 500px;
height: 17px;
position: absolute;
top: 25%;
left: 35%;
border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.progress-bar2 {
background: url("../img/progress-bar2.png") no-repeat center;
width: 500px;
height: 17px;
position: absolute;
top: 25%;
left: 35%;
border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.progress-bar3 {
background: url("../img/progress-bar3.png") no-repeat center;
width: 500px;
height: 17px;
position: absolute;
top: 25%;
left: 35%;
border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.progress-bar4 {
background: url("../img/progress-bar4.png") no-repeat center;
width: 500px;
height: 17px;
position: absolute;
top: 25%;
left: 35%;
border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

@keyframes fadeInLeft-ex {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInLeft-ex {
    animation-name: fadeInLeft-ex;
}

.prog-info {
position: absolute;
left: 26%;
top: 26%;
max-width: 715px;
}

.grey-out {
  opacity: 0.5;
}

.exch-logos {
  float: left;
  margin-right: 15px;
  margin-top: 7px;
  padding-bottom: 10px;
}

.top-130 {
  margin-top: 130px;
}

.top-10 {
  margin-top: 10px;
}

.top-55 {
  margin-top: 55px;
}


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}

.neo-dash-price {
  font-size: 24px;
  margin: 5px 0px 20px 0px;
}

#dash-price-select {
  width: 100%;
    background: #333;
    height: 30px;
    font-size: 16px;
    border: 1px solid #555;
    margin-top: 0px;
}


.modal-alert {
  font-size: 20px;
  word-wrap: normal;
  color: #cecece;
}

.warning:hover > .dash-icon-bar, .warning:hover > .icon-border  {
  color: #ff0000;
    border-color: #ff0000;
}

.warning:hover, {
  color: #ff0000;
  border-color: #ff0000;
}

.exchange-qr {
  border: 10px solid #d3d3d3;
    background-color: white;
    border-radius: 30px;
    padding: 20px 0px 12px;
    width: 210px;
    margin: 0px auto;
}


.ledger-nanos {
background: url("../img/ledger_nano_s.png") no-repeat center;
width: 380px;
height: 69px;
margin: 40px auto 20px;
}
