.icon-cell {
  float: left;
  width: 108px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding: 4px;
  opacity: 0.25;
}

.icon-cell:hover {
  opacity: 0.5;
  cursor: pointer;
}

.new-icon {
  width: 48px;
  height: 48px;
  background-image: url("../img/new-icon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px auto;
  cursor: pointer;
}

.lock-icon {
  width: 48px;
  height: 48px;
  background-image: url("../img/lock-icon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px auto;
  cursor: pointer;
}

.upload-icon {
  width: 48px;
  height: 48px;
  background-image: url("../img/upload-icon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px auto;
  cursor: pointer;
}

.saved-icon {
  width: 48px;
  height: 48px;
  background-image: url("../img/saved-icon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px auto;
  cursor: pointer;
}

.icon-bar {
  width: 324px;
  margin: 0px auto;
}
