.form-control {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  padding: 8px 25px;
  font-size: 14px;
  background-color: #000;
  border: 2px solid #222;
  border-radius: 9px;
  outline: none;
  height: 48px;
  margin-bottom: 10px;
  text-align: left;
}

.input-data {
  border: 2px solid #6972d5;
  border-radius: 6px;
}

.small-text {
  font-size: 0.7em;
}

.form-control:focus,
.form-control-neo:focus,
.form-control-gas:focus {
  border-color: #6db3fd;
  box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd,
    3px -3px 0 #6db3fd;
}

.select-drop {
  background: #000;
}

.quarter {
  width: 23%;
  float: left;
  margin-right: 2%;
}

.half {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.three-quarter {
  width: 75%;
  float: left;
}
.left {
  text-align: left;
  float: left;
  padding: 0px 0px 10px 20px;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #000;
    opacity: 1;
}


.font-plus {
  font-size: 16px;
color: #fff;
}
