// backgrounds and buttons
@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import "./_morpheus.scss";

$main-background: #fff;
$default-button: #4d933b;
$default-button-hover: #7ed321;
$dark-button: #236312;
$dark-button-hover: #33881c;
$dark-input-color: #e8f4e5;
$bright-button: #76b466;
$bright-button-hover: #8cd678;
$secondary-background: #e8f4e5;
$spacer-color: #efefef;

// text
$default-text: #333;
$button-text: #fff;
$thin-text-color: #000;
$error-color: #ff3e3e;

// page layout
$page-width: 960px;
$top-margin: 20px;

@media print {
  font-size: 0.5em;
  color: white;
  width: 600px !important;

  input {
    color: white;
  }
}

body {
  background: url("../img/background_logins.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial;
  background-color: #000;
  color: #ffffff;
  margin: 0px;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

button a {
  text-decoration: none;
  color: inherit;
}

button.disabled {
  opacity: 0.6;
}
button.disabled:hover {
  background-color: $default-button;
}

.statusMessage {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  padding: 5px 0px 3px 0px;
  color: white;
}
.statusMessage.success {
  background-color: $default-button;
}
.statusMessage.fail {
  background-color: $error-color;
}

.altButton {
  background-color: $dark-button;
}
.altButton:hover {
  background-color: $dark-button-hover;
}

.logo {
  text-align: left;
  margin-bottom: 30px;
}

#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-weight: 200;
  color: $thin-text-color;
  font-size: 0.9em;
  text-align: center;
}

#settings {
  width: $page-width;
  margin: $top-margin auto $top-margin auto;
  .description {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
  .settingsForm {
    margin-bottom: 20px;
  }
  label {
    margin-right: 10px;
    color: white;
  }
  .walletItem {
    width: 100%;
  }
  .settingsItem {
    margin-bottom: 10px;
  }
  .itemTitle {
    font-weight: 800;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
  }
  .walletItem {
    margin-bottom: 3px;
  }
  .walletName,
  .walletKey,
  .deleteWallet {
    display: inline-block;
    margin-right: 10px;
  }
  .walletName {
    width: 20%;
    color: white;
    font-size: 16px;
  }
  .walletKey {
    width: 65%;
    color: white;
    font-size: 18px;

    // font-family: "courier", monospace;
  }
  .deleteWallet {
    width: 10%;
    font-size: 18px;
    color: white;
  }
}

$box-padding: 40px;
$box-margin: 10px;

#home {
  width: $page-width;
  margin: $top-margin auto $top-margin auto;
  a .linkBox {
    text-decoration: none;
    color: white;
  }
  .linkBox {
    display: inline-block;
    float: left;
    background-color: $bright-button;
    width: ($page-width / 4) - ((2*$box-padding) + ($box-margin));
    height: 120px;
    padding: $box-padding;
    margin: 0px $box-margin $box-margin 0px;
    font-size: 1.4em;
    font-weight: 200;
  }
  .linkBox.alt {
    background-color: $dark-button;
  }
  .linkBox:hover {
    opacity: 0.8;
  }
}

#newWallet {
  // width: $page-width;

  .copyKey {
    margin-left: 5px;
    color: #000;
  }
  // input {
  //   width: 95%;
  //   margin-bottom: 10px;
  // }
  .generating {
    margin: 20px 0px;
    font-size: 1.4em;
    font-weight: 200;
  }
  .copyKey:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .disclaimer {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
    color: white;
    padding: 5px;
  }
  .info {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 200;
  }
  .addressBox,
  .privateKeyBox {
    // margin-bottom: 20px;
    // display: inline-block;
    width: 100%;
    text-align: center;
  }
  .addressBox {
    // margin-right: 9%;
  }
  .privateKeyBox {
    margin-left: 9%;
  }

  // .keyListItem {
  //   font-size: 0.9em;
  //   span.label {
  //     margin-right: 5px;
  //     font-weight: 800;
  //   }
  // }
  .saveKey {
    margin-bottom: 10px;
    input {
      width: 300px;
      margin-right: 20px;
    }
    button {
      background-color: $dark-button;
    }
  }
}

// split pane stuff
#dashboard {
  .spacer {
    width: 84%;
    margin: 0px 8%;
    border-top: 2px solid $spacer-color;
  }
  #title {
    font-size: 1em;
    padding: 10px 0px 0px 10px;
    font-weight: 200;
    color: $thin-text-color;
    img {
      position: relative;
      top: 2px;
    }
  }
  #height,
  #version {
    span.grey {
      opacity: 0.6;
      margin-right: 4px;
    }
    span.darker {
      color: $thin-text-color;
      opacity: 0.8;
      cursor: pointer;
    }
  }
  #height {
    position: absolute;
    font-size: 0.8em;
    right: 340px;
    top: 13px;
    opacity: 0.6;
  }
  #version {
    position: absolute;
    font-size: 0.8em;
    right: 230px;
    top: 13px;
    opacity: 0.6;
  }
  #claim {
    margin: 20px 0px;
    button {
      font-size: 1em;
      font-weight: 200;
    }
  }
  #network {
    position: absolute;
    font-size: 0.8em;
    right: 80px;
    top: 13px;
    span.transparent {
      opacity: 0.6;
      margin-right: 4px;
    }
    span.netName {
      color: $thin-text-color;
      opacity: 0.8;
      cursor: pointer;
    }
  }
  #logout {
    position: absolute;
    font-size: 1.5em;
    right: 20px;
    top: 3px;
    cursor: pointer;
    color: $default-text;
    // opacity:.8;
    a {
      font-size: inherit;
      margin: none;
      padding: none;
      text-decoration: none;
      color: inherit;
    }
  }
  #logout:hover {
    // opacity:.6;
  }
  #send {
    text-align: center;
    width: 100%;
    padding: 16px 0px;
    font-weight: 200;
    font-size: 1.2em;
    // span{
    // 	opacity:.6;
    // }
    #upArrow {
      position: relative;
      font-size: 1.4em;
      top: -3px;
      left: -1px;
    }
  }
  #confirmPane {
    margin: 0px auto;
    button {
      margin-top: 0px;
      background-color: $dark-button;
      height: 33px;
      margin-left: 10px;
      color: white;
      margin-right: 0px;
    }
    button:hover {
      // background-color:$dark-button-hover;
    }
  }
  #sendPane {
    position: relative;
    width: 96%;
    margin: 8px auto 0px auto;
    overflow: hidden;
    input {
      font-size: 0.9em;
      height: 30px;
      border: none;
      color: $thin-text-color;
      background-color: white;
    }
    button {
      margin-top: 10px;
      background-color: $default-button;
      height: 33px;
      margin-left: 10px;
      color: white;
      margin-right: 0px;
    }
    button:hover {
      background-color: $default-button-hover;
    }
    #sendAddress {
      width: 100%;
      input {
        width: 96%;
        padding: 0px 2%;
      }
    }

    #assetAmount {
      margin-top: 3px;
      display: inline-block;
      width: 50%;
      height: 30px;
      margin-right: 0px;
      input {
        width: 96%;
        padding: 0px 2%;
      }
    }

    #sendAmount {
      margin-top: 3px;
      display: inline-block;
      width: 50%;
      height: 30px;
      margin-right: 0px;
      input {
        width: 96%;
        padding: 0px 2%;
      }
    }
  }
  #accountInfo {
    margin: 20px 0px;
    width: 100%;
    text-align: center;
    span.copyKey {
      margin-left: 3px;
      cursor: pointer;
    }
    .label {
      font-size: 0.85em;
    }
    .address {
      font-size: 0.65em;
      margin-bottom: 20px;
      margin-top: 1px;
      letter-spacing: 0.07em;
    }
    .qrCode {
      margin-top: 20px;
    }
    #balance {
      margin: 20px 0px;
      .split {
        display: inline-block;
        width: 50%;
        clear: none;
      }
      .label {
        font-weight: 200;
        color: $thin-text-color;
        font-size: 1.1em;
      }
      .amountBig {
        font-weight: 200;
        font-size: 2.4em;
        color: $thin-text-color;
        margin: 0px 0px 2px 0px;
      }
      .fiat {
        font-size: 1.1em;
        font-weight: 200;
      }
      #refresh {
        font-size: 2.2em;
        position: absolute;
        top: 100px;
        left: 47%;
        cursor: pointer;
        color: $default-button;
      }
      #refresh:hover {
        color: $default-button-hover;
      }
    }
  }
  #transactionInfo {
    padding: 14px 0px;
    text-align: center;
    .columnHeader {
      font-size: 1.2em;
      font-weight: 200;
    }
    .headerSpacer {
      width: 84%;
      margin: 15px 8%;
      border-top: 3px solid $spacer-color;
    }
  }
  ul#transactionList {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    width: 100%;
    list-style-type: none;
    li {
      list-style-type: none;
      font-weight: 200;
      border-bottom: 1px solid $spacer-color;
      padding-bottom: 10px;
      margin-bottom: 10px;
      .txid {
        top: 2px;
        display: inline-block;
        width: 75%;
        text-align: left;
        font-family: "courier new";
        font-size: 0.7em;
        overflow-x: hidden; // scroll;
        cursor: pointer;
        float: right;
      }
      .amount {
        display: inline-block;
        width: 25%;
        text-align: right;
        color: $thin-text-color;
        float: left;
      }
    }
  }
}

.leftSplit {
  .Pane1 {
    background-color: $default-button;
    cursor: pointer;
    border-bottom: none;
    color: $button-text;
  }
  .Pane1:hover {
    background-color: $default-button-hover;
    color: $button-text;
  }
}
.sendSplit {
  .Pane1 {
    background-color: $secondary-background;
  }
  .Pane1:hover {
    background-color: $secondary-background;
  }
}
.confirmSplit {
  .horizontal.Pane1 {
    border: none;
  }
}
.horizontal.Pane1 {
  // border-bottom:1.5px solid $secondary-background;
}
.vertical.Pane1 {
  border-right: 1.5px solid $spacer-color;
}

// TODO: tool-tip seems broken
.__react_component_tooltip {
  &.show {
    opacity: 1 !important;
  }
  &.solidTip {
    background-color: rgba(0, 0, 0, 1);
    z-index: 999;
  }
}

.addressBox-send {
  border: 10px solid #d3d3d3;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  width: 240px;
  margin: 0px auto;
}

#assetAmount {
  margin-top: 5px;
}

.container {
  max-width: 790px;
  width: 790px;
}

.spinner {
  margin-top: 10px;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("./_forms.scss");
@import url("./_buttons.scss");
@import "./login.scss";
@import "./icon.scss";
@import "./newWallet.scss";
@import "./savedWallet.scss";
@import "./inputs.scss";
@import "./_displayWalletKeys.scss";
@import "./_dashboard.scss";
@import "./_navbar.scss";
@import "./_receive.scss";
@import "./_send.scss";
