#newWallet {
margin-top: 50px;
  h1 {
    font-size: 46px;
    font-weight: 100;
    font-weight: lighter !important;
  }

  input::-webkit-input-placeholder {
    color: #9b9b9b;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
  }

  .fixed-login {
    max-width: 680px;
    position: absolute;
    top: 20%;
    left: 30%;
  }

  .btn {
    background-color: transparent !important;
    :hover {
      background-color: transparent;
    }
  }
  input {
    margin-bottom: -10;
  }

  .confirmPass {
    margin-top: -10px;
  }

  .icon-bar {
    margin-top: 75px;
  }

  .info {
    font-weight: lighter;
  }
  .inputs {
    margin-top: 30px;
  }
}
