#savedWallet {
  padding-top: 30px;
  h1 {
    font-size: 46px;
    font-weight: 100;
    font-weight: lighter !important;
  }

  .icon-bar {
    margin-top: 100px;
  }

  .inputs {
    margin-top: 70px;
  }

  /* ===== Select Box ===== */
  .sel {
    .trans-form {
      width: 50vw;
    }
    display: inline-block;
    // margin: 1em 2em;
    width: 50px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  .sel::before {
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    right: 20px;
    top: calc(50% - 0.5em);
  }
  .sel.active::before {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  .sel__placeholder {
    display: block;
    font-size: 1.5em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: visible;
    text-align: center;
  }
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  .sel.active .sel__placeholder::before {
    visibility: visible;
  }
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #000;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  .sel.active .sel__box {
    display: block;
    -webkit-animation: fadeInUp 500ms;
    animation: fadeInUp 500ms;
  }
  .sel__box__options {
    display: list-item;
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .sel__box__options::after {
    background-color: rgba(71, 77, 144, 0.3);
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
  }
  .sel__box__options.selected::after {
    display: inline;
  }
  .sel__box__options:hover {
    background-color: rgba(71, 77, 144, 0.3);
  }
  /* ----- Select Box Black Panther ----- */
  .sel {
    border-bottom: 0px solid rgba(0, 0, 0, 0.3);
  }
  .sel--black-panther {
    z-index: 3;
  }
  /* ----- Select Box Superman ----- */
  .sel--superman {
    /*   display: none; */
    z-index: 2;
  }
  /* ===== Keyframes ===== */
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
